include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      '«Мне просто всё обрыдло» ⚒ Чернотроп',
      'Через личную историю европейского путешествия рассказываем, где и зачем читать «Роттердамский дневник» Бориса Рыжего',
      'http://chernotrop.reviews/img/default.jpg',
      ''
    )
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline «Мне просто всё обрыдло»
            p.article__description Через личную историю европейского путешествия рассказываю, где и зачем читать «Роттердамский дневник» Бориса Рыжего.
        div.article__content
            div.article__content-row
                div.article__content-left
                    blockquote «Я работал на драге в поселке Кытлым, о чем позже скажу в изумительной прозе…»
                    p ​​Три полупьяных металлиста и один полупьяный я вызвали в Копенгагене смесь настороженности и любопытства. Стереотипы о русских оживали на глазах. Кирпичные рожи моих друзей не сулили окружающим ничего хорошего. Устав от жары, мы решили выпить по коктейлю. Заказали в кафешке три апероля, на сдачу взяли пироженку, цветом и формой напоминавшую «картошку».
                    p Барменша удивилась, но всё поняла правильно — не пожалела ни апероля, ни просекко. Вэри гуд. Сэнк ю, май фрэнд! Хэв э найз дэй.
                    p Мы пили седьмой день подряд, громко разговаривали в общественных местах и, скорее всего, курили там, где курить запрещалось. Цыганка, собирающая банки по мусоркам, хотела было стрельнуть у нас сигарету, но ретировалась, как только мы обернулись.
                div.article__content-right
                    figure
                        img(src="../../img/after-waken.jpg")
                        figcaption Я и какой-то убийца. Копенгаген, 2019
            div.article__content-row
                div.article__content-left
                    p На фотографиях мои друзья выглядят как герои одной из частей GTA, я же похож на прибившегося к ним наркомана. Самый прошаренный металхэд Vassily напоминает повадками и смехом хитрого барыгу. Знаете, того, что продаёт героям GTA калаши и гранаты.
                    p.article__content-main-thought Скорее всего, никто не считает нас гопниками — европейцам плевать. 
                    p Да и нам плевать. И цыганке плевать, она просто бежала по делам и решила не останавливаться, барменша недавно устроилась на работу и перепутала рецептуру, пожилая пара за соседним столиком не смотрела на нас с осуждением, а угадывала, на каком языке мы разговариваем. Но стереотипы живут, въедаются под кожу.
            div.article__content-row
                div.article__content-left
                    p Говоря о Европе и стереотипах, всегда вспоминаю Бориса Рыжего.
                    p Все знают Рыжего как поэта, а ведь он оставил после себя ещё и немного прозы. В 2000-м году его пригласили в Голландию на поэтический фестиваль. После поездки Рыжий написал «Роттердамский дневник», в котором ловко, практически бесшовно переключался между контекстами и эпохами: с поэтического семинара на родной район, с геологической практики в хулиганское детство, из наркологички — обратно на писательский семинар. В дневнике Рыжий по собственной жизни, как лезвие опасной бритвы.
                div.article__content-right
                    figure
                        img(src="../../img/carrots-portrait.jpg")
                        figcaption Портрет Бориса Рыжего. Фотограф Питер Вандермеер, Нидерланды, 2000
            div.article__content-row
                div.article__content-left
                    p Вам нужен поэт-алкоголик, бандит с Урала? Прошу, подано! Рыжий явно глубже выданного ему образа, ему противны люди, что вешают на него ярлыки, но отчего-то он подыгрывает им. Возможно, как и мы — не хочет разрушать иллюзорность стереотипов.
                    p Любители постмодернизма вряд ли увидят в прозе Рыжего что-то новое: измученный поэт, алкоголизм, неурядицы в семье, капля присущего жанру чёрного юмора. Но литературный талант преображает любую прозу — а Рыжего всегда считали даже не талантом, а гением.
                    p Да и кто сказал, что любая вещь должна быть новаторской?
                    p Прозаик Александр Мелихов у себя в фейсбуке точно
                        =" "
                        a(href="https://www.facebook.com/permalink.php?story_fbid=884528808568938&id=100010354814297")
                            span объяснил
                        |
                        |притягательность Хемингуэя. Американский писатель одним из первых научил своих героев не побеждать, а красиво проигрывать. Борис Рыжий умел красиво проигрывать как никто другой.
                    blockquote «Это, — говорит мне мой переводчик, словацкая девушка Ева, — очень экологично! А мне, — говорю, — плевать, Ева, на экологию, у меня других забот полно. Ты, — говорит Ева, — как я думаю, волнуешься сейчас, как и каждый русский, что у вас новый президент? Вот уж, Ева, — говорю, — что меня не волнует, так это. О, — улыбается Ева, думая, что попала в точку, — ты расстроен событиями в Чечне? Нет, — говорю по-английски, — мне просто всё обрыдло».
                    p Примерно через год после поездки Борис Рыжий повесился на балконе родительской квартиры. Вдова поэта передала рукопись журналу «Знамя», где и
                        =" "
                        a(href="https://magazines.gorky.media/znamia/2003/4/ne-mozhet-byt-i-rechi-o-pamyatnike-v-polnyj-rost.html") опубликован
                        =" "
                        | «Роттердамский дневник».
                    p В Копенгагене мы пересели на паром до Хельсинки. Ночью я вышел на палубу и понял, что впервые за семь дней остался один. В голове сразу зазвучали строки одного из стихотворений Рыжего.
                    blockquote
                        | С работы возвращаешься домой
                        br
                        | и нехотя беседуешь с собой,
                        br
                        | то нехотя, то зло, то осторожно:
                        br
                        | — Какие там судьба, эпоха, рок,
                        br
                        | я просто человек и одинок,
                        br
                        | насколько это вообще возможно.
                        br
                        br
                        | Повсюду снег, и смертная тоска,
                        br
                        | и гробовая, видимо, доска.
                        br
                        | Убить себя? Возможно, не кошмар, но
                        br
                        | хоть повод был бы, такового нет.
                        br
                        | Самоубийство — в восемнадцать лет
                        br
                        | ещё нормально, в двадцать два — вульгарно…
                        br
                        br
                        | В подъезд заходишь, лязгает замок,
                        br
                        | ступаешь машинально за порог,
                        br
                        | а в голове — прочитанный однажды
                        br
                        | Петрарки, что ли, душу рвущий стих:
                        br
                        | «Быть может, слёзы из очей твоих
                        br
                        | исторгну вновь — и не умру от жажды».
                    +articleAuthor('Артём Сошников', 'http://soshnikov-writing.art/')

