include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
    'Князь Мышкин — герой грядущей волны неоромантизма',
    'Волна скоро докатится до России, но сам роман читать не будут.',
    'http://chernotrop.reviews/img/how-dare-idiot-og.jpg',
    ''
    )
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline «Идиот» Фёдора Достоевского
            p.article__description Князь Мышкин — герой волны неоромантизма, которая скоро придёт и в Россию. Но сам роман читать не будут.
        div.article__content
            div.article__content-row
                div.article__content-left
                    p
                        | В рубрике «
                        a(href="how-dare.html")
                            span Да как ты смеешь?!
                        |» самоучка и профан Артём Сошников бесстыдно скрещивает русскую классику с современностью. Во втором выпуске — роман Фёдора Достоевского «Идиот», который если и будет интересен современному читателю, то исключительно из-за главного героя.
                    p ⚒︎
                    p Последнее время на круглых столах нет-нет, да заговорят о прозе «женской» и «мужской». Говорят с румянцем на щеках, да под тихое «извините» — боятся обвинений в сексизме. Но примечательно не это. 
                    p Не раз уже было 
                        a(href="senchin-paris.html") 
                            span замечено
                        |, что от героя-мужчины нулевых обозреватели устали. Cколько можно? Ходит по России тридцатилетний белый мужик и ноет, как ему погано.
                    p Мысль во многом верная. Героя давно пора освежить или поменять, от него веет скукой, водкой и копчёной скумбрией. Но героя необязательно изобретать заново! Если уж всё новое — хорошо забытое старое, то популярность может обрести и классический персонаж. Один из явных на то претендентов — князь Мышкин.
                    p Главный герой «Идиота» прекрасно вписывается в новую волну неоромантизма. Наше поколение так и не насытилось эмоциональностью — эмо-седьмого-года на деле оказалось коммерческой блевотиной для подростков, а исконная субкультура ушла в подполье и теперь вместо десятков тысяч поклонников остались десятки; правда, вместе с падением популярности опала и шелуха.
                    p Князь Мышкин олицетворяет новую искренность, о которой так часто говорят в последнее время, а его наивность и вера в идеалы прекрасно подходят под метамодернизм. Перечисленные выше признаки — новый виток культуры от гламурного цинизма к эмоциональности. То есть, к неоромантизму.
                    p «Идиот» способен переродиться и политически. В десятых извечное противостояние правых с левыми сменило маску: вместо бонов и шавок на сцену современности вышли марксисты и либертарианцы. Левые разглядят в «Идиоте» критику мещанства и общества потребления. Уж что-что, а на низких персонажей — заготовок для пропаганды — роман богат, правда, Мышкина левым назвать не получится из-за ключевого монолога на приёме у семейства Епанчиных:
                    blockquote
                         p В этом-то вся и ошибка наша, что мы не можем еще видеть, что это дело не исключительно одно только богословское! Ведь и социализм — порождение католичества и католической сущности! Он тоже, как и брат его атеизм, вышел из отчаяния, в противоположность католичеству в смысле нравственном, чтобы заменить собой потерянную нравственную власть религии, чтоб утолить жажду духовную возжаждавшего человечества и спасти его не Христом, а тоже насилием!
                         p Это тоже свобода чрез насилие, это тоже объединение чрез меч и кровь! «Не смей веровать в бога, не смей иметь собственности, не смей иметь личности, fraternité ou la mort, два миллиона голов!». По делам их вы узнаете их — это сказано! 
                         p И не думайте, чтоб это было всё так невинно и бесстрашно для нас; о, нам нужен отпор, и скорей, скорей! Надо, чтобы воссиял в отпор Западу наш Христос, которого мы сохранили и которого они и не знали! Не рабски попадаясь на крючок иезуитам, а нашу русскую цивилизацию им неся, мы должны теперь стать пред ними, и пусть не говорят у нас, что проповедь их изящна, как сейчас сказал кто-то…
                    p Что ж, на любую деталь можно закрыть глаза или быстренько её деконструировать. В конце концов, на либертарианца Мышкин похож ещё меньше: раздаёт деньги как макулатуру, начисто лишён разумного эгоизма и захлёбывается эмпатией.
                div.article__content-right
                    figure
                        img(src="https://www.fedordostoevsky.ru/img/glazunov_idiot_1.jpg")
                        figcaption Князь Мышкин. Иллюстрация И.Глазунова (1956)
            div.article__content-row
                div.article__content-left
                    p Князь Мышкин чист даже перед лицом несуществующего ещё равноправия. Он — флагман кризиса маскулинности, который неизбежно приведёт нас к пересмотру роли мужчины в современном обществе. 
                    p Понятное дело, ни о каких бумерах и зумерах Достоевский в 19-м веке не думал, он изображал «положительно прекрасного человека», опираясь на христианские добродетели. Но за сто пятьдесят лет наш интерес к религии поугас, искать ответы на вопросы современности через религиозного героя согласны далеко не многие. Так что смена фокуса при взгляде на князя Мышкина неизбежна.
                    p Я нарочно не говорю об остальных персонажах романа, потому как они созданы и существуют в романе ради одного Мышкина. Кстати, о романе — в 21-м веке его читать невозможно. Если уж Мышкина и сделают новым героем, то через экранизации.
            div.article__content-row
                div.article__content-left
                    p Достоевский и сам признавал, что в романе много лишнего. «Так почикал бы!» — хочется крикнуть Фёдору Михайловичу, но он уже не ответит. Читать исповедь вечно умирающего Ипполита — та ещё мука, так и тянет пролистать или пробежаться по диагонали.
                div.article__content-right 
                    blockquote «В романе много написано наскоро, много растянуто и не удалось».
            div.article__content-row
                div.article__content-left
                    p Да хер бы с ним, с сюжетом — пусть себе ползёт, в конце концов, мы говорим не об интересной истории, а о произведении искусства, которое обычно помимо сюжета (или его отсутствия) отличается ещё и стилем. Увы, читать «Идиота» ради стилистического наслаждения поздно. Разве что, ремесленники от литературы могут изучить нетипичный психологизм героев или повествовательные нюансы. Но читателей от скуки они не спасут.
                    p Не спешите обвинять их в клиповом сознании. Клиповое сознание — это неспособность дочитать две с половиной тысячи символов, а в «Идиоте» их два с половиной миллиона. Для современности — непомерная роскошь.
                    p Так что князь Мышкин если и станет героем неоромантиков, то через фильмы и сериалы. В идеале, конечно, стоит снять новую интерпретацию. Трэшовый «Даунхаус» у нас уже был, пора вильнуть в сторону новой чувственности.
                    p Главное, обойтись без Саши Петрова и Надежды Михалковой.
                    +articleAuthor('Артём Сошников', 'http://soshnikov-writing.art/')
