include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
    'Title',
    'Description',
    'http://chernotrop.reviews/img/default.jpg',
    ''
    )
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline «Идиот» Фёдора Достоевского
            p.article__description Князь Мышкин — герой новой эмо-волны, которая скоро придёт и в Россию. Но вспомним мы его не из книги.
        div.article__content
            div.article__content-row
                div.article__content-left
                    p Контент
                div.article__content-right Additional
            +articleAuthor('Артём Сошников', 'http://soshnikov-writing.art/')
