mixin mainMenu(active)
    if active === 'contacts'
        nav.main__menu
            a.main__menu-item(href="http://ttttt.me/blacktrope", target="blank") telegram-канал
            a.main__menu-item.main__menu-item_active(href="contacts.html") контакты
    else
        nav.main__menu
            a.main__menu-item(href="http://ttttt.me/blacktrope", target="blank") telegram-канал
            a.main__menu-item(href="contacts.html") контакты
