include ../../components/head/head
include ../../components/header/header
include ../../components/menu/menu
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
    'Контакты ⚒︎ Чернотроп',
    'Скрещиваем русскую реалистическую прозу с современностью',
    'http://chernotrop.reviews/img/default.jpg',
    ''
    )
body.body_dark
    +header('dark')
    section.main
        div.main__description
            div.main__description-row
                h3 Для связи
                p Проще всего написать в телеграм создателю проекта Артёму Сошникову:
                    =" "
                    a(href="http://ttttt.me/za_realism") @za_realism
                p Если вы старовер и не пользуетесь мессенджерами, то пишите на почту: soshnikov🐕︎protonmail.com
            div.main__description-row
                h3 Сотрудничество и реклама
                p Проект «Чернотроп» — территория, свободная от рыночных отношений.
                p Для нас неприемлемо относиться к читателям как к потребителям товаров и услуг, поэтому мы не размещаем рекламу и не занимаемся взаимопиаром.
