include ../../components/head/head
include ../../components/header/header
include ../../components/main-menu/main-menu
include ../../components/camping-article/camping-article
include ../../components/camping-year/camping-year
doctype html
html(prefix="og: http://ogp.me/ns#")
    +head(
      'http://chernotrop.reviews/camping',
      'article',
      '«Лагерь» ⚒︎ Чернотроп',
      'Раздел сайта, в которой копятся рецензии телеграм-канала «Чернотроп».',
      'http://chernotrop.reviews/img/camping-og.jpg'
    )
body.body_dark
    +header('dark')
    section.main
        div.main__description
            p «лагерь» — раздел сайта, в котором копятся рецензии создателя журнала «чернотроп» о гуманитраном нон-фикшне, современной музыке и прочих областях современной культуры.
        +mainMenu('camping')
    section.camping
        div.camping__row
            +campingYear('2019')
            +campingArticle('salnikov-oposredovanno', 'Вылизан, но', 'О том, как желание угодить испортило новый роман Алексея Сальникова')
            +campingArticle('salnikov-1904', 'Бенджамин Баттон современной прозы', 'Если развернуть публикации Алексея Сальникова вспять, проглядывается логичный путь развития молодого писателя')
        div.camping__row
            +campingYear('2018')
            +campingArticle('buksha-is-opened-inside', 'Апостол юга Петербруга', 'О сборнике рассказов Ксении Букши «Открывается внутрь» и её удивительном умении превращать слабости в приёмы')
            +campingArticle('senchin-tenant', 'Обновление Сенчина', 'В новом сборнике Роман Сенчин пробует раскрыться с иной стороны, но спотыкается о собственный писательский мир')
            +campingArticle('navalny-three-and-a-half', 'Селеба за решёткой', 'Сказ о том, как и зачем разглядывать за брендом семьи Навальных литературный талант младшего брата')
            +campingArticle('critchley-football', 'Балет рабочего класса', 'Об актуальном эссе Саймона Кричли, в котором философ пытается докопаться до сути популярности футбола')
            +campingArticle('critchley-dead-sophists', 'Книга мёртвых философов', 'О труде Саймона Кричли, желающего преодолеть страх смерти')
            +campingArticle('van-reybrouck-against-elections', 'Такие выборы нам не нужны', 'Как выглядит отличное пособие по преодолению неэффективной выборной системы.')
            +campingArticle('petrovsky-darling', 'Дорогая, я дома', 'О романе евроскептика и русского националиста Дмитрия Петровского')
            +campingArticle('nosov-square', 'Игнор сборника на книжной полке', 'О незаслуженно незамеченном сборнике рассказов Сергея Носова')
            +campingArticle('mikhalik-comet', 'Ревизия Шаламова', 'Филолог Елена Михайлик заново открыла нам творчество варлама Шаламова. Оказывается, он не просто хроникёр тоталитарного ада')
            +campingArticle('meshchaninova-stories', 'Справитесь и вы', 'Рассказы Наталии Мещаниновой о детстве в провинциальном городке вселяют в людей не только ужас, но и надежду')
            +campingArticle('pigliucchi-stoic', 'Стоицизм — учение будущего?', 'Кажется, книга Массимо Пильюччи вскоре породит новый общественный тренд. Вместо Гоа люди поедут в Грецию')
        div.camping__row
            +campingYear('2017')
            +campingArticle('brinkman-self-help', 'Право на лень и скепсис', 'Свен Бринкман наконец-то развенчивает миф об успешных коучах и пользе саморазвития')
            +campingArticle('stepanov-art-devil', 'Бес искусства', 'О плутовском романе Андрея Степанова — талантливом, но чересчур тактичном')
            +campingArticle('sorokin-manaraga', 'О романе Владимира Сорокина «Манарага»', 'Неплохо, но до пьедестала не дотягивает')
            +campingArticle('salnikov-petrovs', 'О «Петровых в гриппе»', 'Редкий пример того, как поэтический опыт автора благотворно сказывается на его прозе')
            +campingArticle('rubanov-patriot', 'О романе Андрея Рубанова «Патриот»', 'Роман-победитель «Ясной Поляны» получился неоспоримо мастерским — плотно сбитым, монолитным, с великолепными диалогами и плавно перетекающим сюжетом')
