include ../../components/head/head
include ../../components/header/header
include ../../components/main-menu/main-menu
include ../../components/camping-article/camping-article
doctype html
html(prefix="og: http://ogp.me/ns#")
    +head(
      'http://chernotrop.reviews/camping',
      'article',
      '«Лагерь» ⚒︎ Чернотроп',
      'Раздел сайта, в которой копятся рецензии телеграм-канала «Чернотроп».',
      'http://chernotrop.reviews/img/camping-og.jpg'
    )
body.body_dark
    +header('dark')
    section.main
        div.main__description
            p «лагерь» — раздел сайта, в котором копятся рецензии создателя журнала «чернотроп» о гуманитраном нон-фикшне, современной музыке и прочих областях современной культуры.
        +mainMenu('camping')
    section.camping
        +campingArticle('nosov-square', 'Игнор сборника на книжной полке', 'о незаслуженно незамеченном сборнике рассказов Сергея Носова.')
        +campingArticle('mikhalik-comet', 'Ревизия Шаламова', 'филолог Елена Михайлик заново открыла нам творчество варлама шаламова. он гораздо глубже выданного либералами статуса хроникёра репрессий.')
        +campingArticle('meshchaninova-stories', 'Справитесь и вы', 'рассказы наталии мещаниновой о детстве в краснодарском крае вселяют в людей не только ужас, но и надежду.')
        +campingArticle('pigliucchi-stoic', 'Стоицизм — учение будущего?', 'кажется, книга массимо пильюччи вскоре породит новый общественный тренд. вмест гоа люди поедут в грецию.')
