include ../../components/head/head
include ../../components/header/header
include ../../components/main-menu/main-menu
include ../../components/camping-article/camping-article
include ../../components/camping-year/camping-year
doctype html
html(prefix="og: http://ogp.me/ns#")
    +head(
      'http://chernotrop.reviews/camping',
      'article',
      '«Лагерь» ⚒︎ Чернотроп',
      'Раздел сайта, в которой копятся рецензии телеграм-канала «Чернотроп».',
      'http://chernotrop.reviews/img/camping-og.jpg'
    )
body.body_dark
    +header('dark')
    section.main
        div.main__description
            p «лагерь» — раздел сайта, в котором копятся рецензии создателя журнала «чернотроп» о гуманитраном нон-фикшне, современной музыке и прочих областях современной культуры.
        +mainMenu('camping')
    section.camping
        div.camping__row
            +campingYear('2018')
            +campingArticle('senchin-tenant', 'Обновление Сенчина', 'В новом сборнике Роман Сенчин пробует раскрыться с иной стороны, но спотыкается о собственный писательский мир')
            +campingArticle('nosov-square', 'Игнор сборника на книжной полке', 'О незаслуженно незамеченном сборнике рассказов Сергея Носова')
            +campingArticle('mikhalik-comet', 'Ревизия Шаламова', 'Филолог Елена Михайлик заново открыла нам творчество варлама Шаламова. Оказывается, он не просто хроникёр тоталитарного ада')
            +campingArticle('meshchaninova-stories', 'Справитесь и вы', 'Рассказы Наталии Мещаниновой о детстве в провинциальном городке вселяют в людей не только ужас, но и надежду')
            +campingArticle('pigliucchi-stoic', 'Стоицизм — учение будущего?', 'Кажется, книга Массимо Пильюччи вскоре породит новый общественный тренд. Вместо Гоа люди поедут в Грецию')
        div.camping__row
            +campingYear('2017')
            +campingArticle('brinkman-self-help', 'Право на лень и скепсис', 'Свен Бринкман наконец-то развенчивает миф об успешных коучах и пользе саморазвития')
