.camping {
  @include col100(0, column);
  
  &__row {
    @include col75(32px 72px 32px 72px, column);
    margin-bottom: 48px;
    
    @include respond(mobile) {
      @include col100($mainContentMarginMobile 24px 32px 24px, column);
    }
  }
  
  &__article {
    @include col100(0);
    margin-bottom: 24px;
    
    @include respond(mobile) {
      @include col100(0 0 32px 0, column);
    }
  }
  
  &__pic {
    @include col30(0, column);
    
    img {
      width: 100%;
    }
  }
  
  &__content {
    @include col70(0 0 0 24px, column);
    color: $white;
    text-transform: lowercase;
    
    &-headline {
      margin: 8px 0 0 0;
    }
    
    h3 {
      color: $coldBlue;
      line-height: 1.6;
    }
    
    p {
      font-family: $basicFont;
      font-size: $fontSizeMedium;
      
      @include respond(mobile) {
        font-size: $fontSizeMain;
        line-height: 1.4;
      }
    }
  }
}
