include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'Добротный, но жестокий «Тобол» ⚒ Чернотроп',
      'Артём Сошников разбирается, почему дилогию Иванова так тяжело дочитать',
      'http://chernotrop.reviews/img/ivanov-tobol-og.jpg',
      ''
    )
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline Добротный, но жестокий «Тобол»
            p.article__description Несмотря на хорошо проделанную работу, дилогию Алексея Иванова читать тяжело. Попытаемся понять, почему.
        div.article__content
            div.article__content-row
                div.article__content-left
                    p Алексей Иванов — писатель добротный, но жестокий, что видно по его роману «Тобол».
                    p За проделанную писательскую работу Иванову уважение: сибирский быт восстановлен досконально, постоянно натыкаешься на незнакомую лексику. Гугл обречён не закрываться.
                    p.article__content-secondary-info Подними меня ночью, крикни «Новые слова из Тобола, ну!!!» — и я тут же отзовусь: дощаник, киот, домовина, джунгары, улама, Торжинкит, остяки, нойон, ретраншемент, батог…
                div.article__content-right
                    figure
                        img(src="../../img/ivanov-tobol.jpg")
                        figcaption Обложка романа, 2019.
            div.article__content-row
            div.article__content-left
                p Наверное, историки смогут уличить Иванова в отступлениях и вольностях, но издатель на пару с автором перестраховались и вынесли в аннотацию термин «пеплум», больше известный нам по кинематографу (заодно ещё раз подчеркнули две ивановские профессии, писателя и сценариста). Пеплумы — исторические фильмы с акцентом на батальных сценах и длинным хронометражом, но нам интересно не это. Для нас важнее тот факт, что уровень достоверности в пеплуме плавающий. Жанр равнодушен к вольностям, а в ранний свой период даже им потакал.
                p
                    figure
                        img(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fhdmax.ws%2Fuploads%2Fposts%2F2019-02%2F1551379166-1235969190-kadr-1.jpg&f=1&nofb=1")
                        figcaption Русские продюссеры, когда узнали, что достоверность в пеплуме — не главное
                p Что ж, если не переживать за достоверность, роман читается увлекательно. Иванов изобразил мир русской Сибири 18-го века и ввёл в него большое количество колоритных героев, которых паутиной связывают политические, нравственные и любовные конфликты. Очень хочется сравнить «Тобол» с творчеством Леонида Юзефовича, но сравнения эти сразу же рассыпаются, как труха: в той же «Зимней дороге» Юзефович погружается в мир собственных героев, а Иванов смотрит отстранённо, отводит себе роль Джорджа Мартина. Юзефович сидит рядом с героями в окопе и черкает карандашом на обрывке бумаги; Иванов следит за событиями в глазок коробки, собранной им же самим ради исследовательского интереса.
                p Эта отстранённость — важный признак жестокости текста. Причём, жестокость у Иванова не физиологическая, а экзистенциальная. Кишки в романе выпускают, но умеренно, Иванов не пытается поразить нас булькающей кровищей или раздавленными мозгами. Шокирует скорее бессилие человека перед лицом иерархии, необратимость судьбы в закастованном, закерпощённом обществе.
                p Да, это честный подход. Иванов не идеализирует эпоху и честно показывает нам насилие, несправедливость, дикарские пороки восемнадцатого века. Наверное, мы должны ценить автора за искренность перед нами — но, увы, она конфликтует с назначением прозы как таковой.
                p Хорошая проза защищает нас от ужаса действительности. И делает она это двумя путями: либо через позицию «Твои проблемы — мелочь», либо через единение по принципу «Ты не один, мы тоже пережили подобное». «Тобол» Иванова по таким тропинкам не ходит. Да, он умаляет проблемы белых людей бедами, в которые попадают герои романа. Станешь ли ты думать о ноющем зубе, если в книге пленную остячку ежедневно насилуют русские солдаты? Но тогда в истории обязан появиться герой, преодолевающий несправедливость, герой, бросающий вызов аду. У Иванова таких героев для нас не нашлось. Все принимают условия игры и считают их справделивыми. В итоге читатель, пытаясь укрыться от проблем XXI-го века, попадает в ещё более жестокую реальность. Порой ловишь себя на мысли, что Иванов и сам убеждён в органичности описанного им мира; он не любит и не сочувствует своим героям — соответственно, мы тоже не чувствуем эмпатии и бросаем книгу на середине.
                p.article__content-main-thought Складывается нетипичная картина: при всей своей глубине, проработанности фактуры и сюжета роман отталкивает читателя равнодушием. 
                p Голые детали быта интересны в рамках нон-фикшна, проза требует от произведения не только знания предмета (читайте — «мяса»), но и морали (читайте — «души»). «Тобол» в этом отношении роман бездушный, в нём не просматривается писательского отношения к истории и современности.
                p Иванов — писатель признанный, может позволить себе экспериментировать. Плохо лишь, что его эксперименты отталкивают читателя от текста.
                +articleAuthor('Артём Сошников', 'http://soshnikov-writing.art/')
