include ../../components/head/head
include ../../components/header/header
include ../../components/main-menu/main-menu
include ../../sections/selfie-against-sword/selfie-against-sword
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'Да как ты смеешь! ⚒︎ Чернотроп',
      '',
      'http://chernotrop.reviews/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark')
    section.main
        div.main__description
            h2 Да как ты смеешь! 😡
        div.main__description-right
            p рубрика, в которой самоучка и профан артём сошников читает русскую классику и бесстыже скрещивает её с современностью.
            p именно так выглядят школьные сочинения, если их не заучивать наизусть.
    section.how-dare
        a(href="how-dare-karenina.html").how-dare__col
            div.how-dare__pic
                img(src="../../img/karenina-cover.jpg")
            div.how-dare__content
                h3 «Анна Каренина» Льва Толстого
                p описание
        a(href="how-dare-idiot.html").how-dare__col
            div.how-dare__pic
                img(src="../../img/idiot-cover.jpg")
            div.how-dare__content
                h3 «Идиот» Фёдора Достоевского
                p описание
        a(href="how-dare-karenina.html").how-dare__col
