include ../../components/head/head
include ../../components/header/header
include ../../components/main-menu/main-menu
include ../../sections/selfie-against-sword/selfie-against-sword
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      '«Да как ты смеешь?!» ⚒︎ Чернотроп',
      'Рубрика, в которой самоучка, профан Артём Сошников бесстыдно скрещивает русскую классику с современностью.',
      'http://chernotrop.reviews/img/how-dare-og.jpg',
      ''
    )
body.body_dark
    +header('dark')
    section.main
        div.main__description
            p «да как ты смеешь?!» — рубрика, в которой самоучка, профан артём сошников бесстыдно скрещивает русскую классику с современностью.
            p именно так выглядели бы сочинения, если б школьников не заставляли заучивать мнения наизусть.
        +mainMenu('howDare')
    section.how-dare
        a(href="how-dare-idiot.html").how-dare__col
            div.how-dare__pic
                img(src="../../img/how-dare-idiot-cover.jpg")
            div.how-dare__content
                h3 «Идиот» Фёдора Достоевского
                p Князь Мышкин — герой волны неоромантизма, которая скоро придёт и в Россию. Но сам роман читать не будут.
        a(href="how-dare-karenina.html").how-dare__col
            div.how-dare__pic
                img(src="../../img/how-dare-karenina-cover.jpg")
            div.how-dare__content
                h3 «Анна Каренина» Льва Толстого
                p Время идёт, роман по-прежнему не оставляет читателя равнодушным. Про Левина потихоньку забывают.
        a(href="#").how-dare__col
