include ../../components/section-header/section-header
include ../../components/article-separator/article-separator

mixin selfieAgainstSword()
    div.sas
        +sectionHeader('первая', 'Селфи вместо сабли')
        div.sas__articles
            article.sas__article-1
                a.sas__articles-headline(href="selfie-vs-sword.html") русская молодёжь одержима путешествиями?
                p.sas__articles-description.sas__article-1-description рассказываем на примерах русской прозы XIX-го века, почему вам уже не хочется заглядывать в инстаграм
            +articleSeparator()
            article.sas__article-2
                a.sas__articles-headline(href="senchin-paris.html") герои сенчина не хотят гулять по парижу
                p.sas__articles-description.sas__article-2-description они хотят ныть, бухать и работать охранниками в магните. нам нужно с ними что-то делать.
            +articleSeparator()
            article.sas__article-3
                a.sas__articles-headline(href="carrots-rotterdam.html") в 2000-м году поэт борис рыжий побывал в роттердаме
                p.sas__articles-description.sas__article-3-description каждый раз, гуляя пьяными по улочкам европы, мы вспоминаем «роттердамский дневник»
