.articles-2020 {
  @include col100(0, column);
  
  &__row {
    
    &-sb {
      @include col100(0 0 72px 0, row, space-between, stretch);
      
      @include respond(mobile) {
        @include col100(0, column);
      }
    }
    
    &-fs {
      @include col100(0, row, space-between, stretch);
      flex-grow: 4;
      flex-wrap: wrap;
      
      @include respond(mobile) {
        flex-grow: 2;
      }
    }
  }
}
