.first {
  @include col100($mainContentMargin 72px 0 72px);
  
  &__main-article {
    color: inherit;
    @include col55(0);
    overflow: hidden;
    
    &-img {
      @include col40(0, column);
      overflow: hidden;
      
      & img {
        width: 100%;
      }
    }
    
    &-content {
      @include col60(0 0 0 24px, column);
      
      h3 {
        color: $coldBlue;
      }
      
      p {
        font-size: $fontSizeMedium;
        color: $white;
        margin-bottom: 0;
        text-transform: lowercase;
      }
    }
  }
  
  &__secondary-articles {
    @include col45(0 0 0 48px, column);
    
    &-item {
      @include col100(0 0 32px 0);
      
      &:last-child {
        padding-bottom: 0;
      }
      
      &Img {
        @include col30(0);
      }
      
      &Content {
        @include col70(0 0 0 16px, column);
        font-size: $fontSizeMain;
        color: $white;
        text-transform: lowercase;
        
        h5 {
          color: $coldBlue;
          font-weight: normal;
          font-family: $accentFont;
          text-transform: uppercase;
          margin-top: 0;
        }
        
        p {
          margin-bottom: 0;
          line-height: 1.4;
        }
      }
    }
  }
}
