include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year
include ../../components/figure/figure

- var title = 'Бенджамин Баттон современной прозы'
- var desc = 'Если развернуть публикации Алексея Сальникова вспять, проглядывается логичный путь развития молодого писателя'
- var id = 'salnikov-1904'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline Алексей Сальников — Бенджамин Баттон современной прозы
            p.article__description Если развернуть его публикации вспять, проглядывается логичный путь развития молодого писателя.
        div.article__content
            div.article__content-row
                div.article__content-left
                    p Прочёл в самолёте рассказ Алексея Сальникова «На этом месте в 1904 году», опубликованный в свежем номере журнала «Искусство кино».
                    p Сюжет вполне себе реалистический. У Владимира умирает вторая жена. Бывшая супруга в типично-сальниковской манере помогает Владимиру пережить горе: привозит к двери его квартиры сына Никиту с вещами и отключает телефон. Владимир вынужденно берёт сына с собой в командировку, куда-то «в тайгу на пути от Екатеринбурга до Тюмени».
                    p На самом деле, рассказ не о Владимире. Сальников использует отца в качестве живого пролога и достаточно быстро переключается на Никиту, описывая летние каникулы двенадцатилетнего мальчика в компании слабослышащей девочки Вики и немца-ровесника Пауля. Рассказ напоминает коктейль из всевозможных трендов современной литературы: тут вам и регионализм, и присущая начинающим прозаикам тема детства, щепотка ностальгии, разбросанные по сюжету следы исторических потрясений двадцатого века. И всё, в общем-то, ладно скроено, написано фирменным языком с регулярными вкраплениями самоиронии — но на этот раз проза подчистую избавлена от мистической иррациональности.
                div.article__content-right
                    +figure(`${id}`, 'Номер «Искусста кино», в котором опубликлован рассказ')
            div.article__content-row
                div.article__content-left
                    p Сальников, конечно, позволяет себе несколько нетипичных ходов. Например, провокационно легко сдаёт схему рассказа читателю в конце повествования (подробнее не опишу, боюсь заспойлерить). Но то ли редактор хорошо поработал, то ли Сальников прислушался к цокающей части критиков… проза его стала на порядок аккуратнее. Отдельные предложения и сюжет в целом уже не похожи на сбивчивый, нарочито-неотёсанный черновик. «Отделу» эта неотёсанность откровенно мешала, а вот «Петровым в гриппе», наоборот, служила тонким приёмом.
                    p После прочтения никак не отпускает мысль, что Алексей Сальников — Бенджамин Баттон современной прозы.
                    p Если развернуть его публикации вспять, проглядывается логичный путь развития молодого писателя: талантливый, тщательно выверенный и одновременно с этим скромный «На этом месте в 1904 году» перерастает в более уверенную «Историю про квартиру», где Сальников наращивает поверх реальности присущий ему бытовой мистицизм. Затем публикуется «Отдел» — неудачный эксперимент c гриппозным повествованием и стилистической шероховатостью, но первый крупный блин, как мы знаем, нередко выходит комом. Со второй попытки автор создаёт нашумевших «Петровых в гриппе»…
                    p Сальникову, конечно, идёт вся эта неразбериха и лёгкая творческая рассеянность, но как ни крути, что ни выдумывай — рано или поздно нужно написать что-то уровня «Петровых в гриппе». Кредит доверия не вечен. Даже у читателя. Даже у современного.
                    +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2019')
