include ../../components/head/head
include ../../components/header/header
include ../../components/menu/menu
include ../../components/pagination/pagination
include ../../sections/articles-2020/articles-2020

- var title = 'Чернотроп ⚒︎ Русский реализм'
- var desc = 'Скрещиваем русскую реалистическую прозу с современностью'
- var id = 'default'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_dark
    +header('dark', '')
    div.wrap
        div.content
            +pagination('')
            +articles2020()
