include ../../components/head/head
include ../../components/header/header
include ../../components/menu/menu
include ../../sections/selfie-against-sword/selfie-against-sword
doctype html
html(prefix="og: http://ogp.me/ns#")
    +head(
    'http://chernotrop.reviews/',
    'website',
    'Чернотроп ⚒︎ Русский реализм',
    'Скрещиваем русскую реалистическую прозу с современностью',
    'http://chernotrop.reviews/img/default.jpg'
    )
body.body_dark
    +header('dark', '')
    section.main
    +selfieAgainstSword()
