include ../../components/head/head
include ../../components/header/header
include ../../components/main-menu/main-menu
include ../../sections/selfie-against-sword/selfie-against-sword
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
    'Чернотроп ⚒︎ Русский реализм',
    'Скрещиваем русскую реалистическую прозу с современностью',
    'http://chernotrop.reviews/img/default.jpg',
    ''
    )
body.body_dark
    +header('dark')
    section.main
        div.main__description
            p мы убежали в города, спрятались в офисы, но нас всё так же окружает ледяная пустыня смерти и равнодушия.
            p реалистическая проза защищает нас от ужаса действительности — не даёт замёрзнуть узкой ленточке чернотропа, сбиться с пути и одиноко умереть в сугробе.
        +mainMenu('')
    +selfieAgainstSword()
