include ../../components/section-header/section-header
include ../../components/article-separator/article-separator
include ../../components/article50/article50
include ../../components/article20/article20
include ../../components/article15/article15

mixin articles2018()
    div.articles-2018
        div.articles-2018__row-sb
            +article50('mikhalik-comet', 'Ревизия Шаламова', 'Филолог Елена Михайлик заново открыла нам творчество варлама Шаламова. Оказывается, он не просто хроникёр тоталитарного ада')
            +article50('navalny-three-and-a-half', 'Селеба за решёткой', 'Сказ о том, как и зачем разглядывать за брендом семьи Навальных литературный талант младшего брата')
        div.articles-2018__row-fs
            +article15('meshchaninova-stories', 'Справитесь и вы', 'Пронзительные рассказы Наталии Мещаниновой вселяют в людей не только ужас, но и надежду')
            +article15('buksha-is-opened-inside', 'Апостол юга Петербурга', 'О сборнике рассказов Ксении Букши «Открывается внутрь» и её удивительном умении превращать слабости в приёмы')
            +article15('nosov-square', 'Игнор сборника на книжной полке', 'Почему не заметили свежий сборник рассказов Сергея Носова')
            +article15('salnikov-department', 'Отдел', 'Первый роман Алексея Сальникова удивительным образом вышел только после второго')
            +article15('senchin-tenant', 'Обновление Сенчина', 'В новом сборнике Роман Сенчин пробует раскрыться с иной стороны, но спотыкается о собственный писательский мир')

