include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
    'Title',
    'Description',
    'http://chernotrop.reviews/img/default.jpg',
    ''
    )
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline «Анна Каренина» Льва Толстого
            p.article__description Время идёт, роман по-прежнему не оставляет читателя равнодушным. Левин испытывает дефицит внимания.
        div.article__content
            div.article__content-row
                div.article__content-left
                    p Долго не писал ничего о прозе, потому что два месяца читал «Анну Каренину».
                    p Насколько я знаю, единого мнения о романе при жизни Толстого не существовало, тон и ход рецензии зависели от политической направленности журнала или газеты, которые эту рецензию издавали.
                    p Либералы и народники критиковали воспевание помещичьего уклада, консерваторы обличали гнилые нравы высшего света, нейтральные читатели, вскормленные французскими любовными романами, зачастую игнорировали линию Левина и замечали только треугольник Анны, Вронского и Каренина, значительно упрощая замысел и драматургию, на что ещё при жизни писателя сетовал литературный критик Николай Страхов:
                    blockquote Так я уже читал вчера, что Каренина решается на самоубийство, убедившись, что Вронский любит другую. Вы видите, они иначе не могут понять, да и то, вероятно, по преданию, по французским романам, а не по чувству своего собственного сердца.
                    p Оттого интереснее узнать, как воспринимают роман сегодня. «Анна Каренина» по-прежнему не оставляет читающих людей равнодушными. Пару раз мня спрашивали, куда я пропал — и, узнав о затяжном моём чтении, тут же задавали кучу вопросов или, что ещё лучше, спорили между собой.
                    p На первый план ожидаемо вышла феминистическая повестка. Как и социалисты того времени, Толстого критикуют за воспевание патриархата, скептическое отношение к женскому вопросу и кондовый морализм.
                    p Но собрать единодушное «fffuuu» из калейдоскопа мнений не вышло. Мы живём в эпоху раннего индивидуализма, мнения об «Анне Карениной» вполне могут отличаться даже внутри одной общности.
                    p Лично для меня Анна так и не стала отрицательным персонажем. Она, как и Каренин — заложница общества и религиозных норм XIX-го века, где развод становится непреодолимым препятствием.
                    p В 2019-м году ситуация не стоит и выеденного яйца: Анна подаёт на развод, судья оставляет сына с мамой, богатый и влиятельный Каренин находит себе инстаграм-модель и уезжает с ней отдыхать в Дубай. Всё.
                    p Современная интерпретация романа, написанная феминисткой, исключала бы из формулы великодушие Каренина. Муж-тиран, путинист и чинуша, не отдавал бы ребёнка Анне, запрещал ей видеться с сыном и вставлял палки в колёса Вронскому — оунеру русско-американского стартапа и умеренному стороннику Навального.
                    p Но вторую «Анну Каренину» не напишешь, так что нам остаётся лишь наблюдать, как доживающие свой век религиозные условности, светское лицемерие и стадное чувство гонят Анну под поезд.
                    p Мне не хочется обвинять Толстого в сексизме ещё и потому, что на страницах его романа устами его героев звучат весьма смелые для того времени аргументы:
                    blockquote
                        | — Совершенно справедливо, — подтвердил Алексей Александрович. — Вопрос, я полагаю, состоит только в том, способны ли они к этим обязанностям.
                        br
                        | — Вероятно, будут очень способны, —вставил Степан Аркадьич, — когда образование будет распространено между ними. Мы это видим…
                        br
                        | — А пословица? — сказал князь, давно уж прислушиваясь к разговору и блестя своими маленькими насмешливыми глазами, — при дочерях можно: волос долог…
                        br
                        | — Точно так же думали о неграх до их освобождения! — сердито сказал Песков.
                    p Наверняка мне возразят: Толстой написал этот диалог исключительно для того, чтобы очертить круг тем, волнующий высший свет 1870-х. Возможно! Но само присутствие подобных идей в книге по-своему их легитимизирует.
                    p За бурей обсуждений и фантазий кроется ещё одна примета времени. Спорщики чаще всего не трогают Левина и его экзистенциальный кризис. Дауншифтинг лет пять как умер, а за экзистенциальный кризис консервативного бизнесмена у нас отвечает Андрей Рубанов, лол 😏
                    p Может быть, когда-нибудь, лет через тридцать, чаша весов склонится в другую сторону и люди начнут спорить о поступках и метаниях Левина, а Каренины отойдут на второй план. Пока же современные читатели не считают эту линию острой.
                    p Эмансипация женщин куда острее.
                div.article__content-right Additional
            +articleAuthor('Артём Сошников', 'http://soshnikov-writing.art/')
