include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
    'Время идёт, «Анна Каренина» по-прежнему не оставляет нас равнодушными',
    'Правда, про Левина все потихоньку забывают.',
    'http://chernotrop.reviews/img/how-dare-karenina-og.jpg',
    ''
    )
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline «Анна Каренина» Льва Толстого
            p.article__description Время идёт, роман по-прежнему не оставляет читателя равнодушным. Про Левина потихоньку забывают.
        div.article__content
            div.article__content-row
                div.article__content-left
                    p.article__content-left-intro В рубрике «Да как ты смеешь?!» самоучка и профан Артём Сошников бесстыдно скрещивает русскую классику с современностью. Во первом выпуске — роман Льва Толстого «Анна Каренина», который по-прежнему остаётся великим, но теряет свою многогранность.
                    p На днях вручили очередную премию НОС — и, конечно же, эксперты опять упомянули о прозе и современности. Анна Наринская рассказала, что она уже больше десяти лет является страшным болельщиком входа реальности в литературу:
                    blockquote «Меня всегда страшно расстраивало в современной мне русской литературе, что она пыталась абсолютно изолироваться от реальности. Ещё лет двенадцать назад можно было сказать, что ни один русский пишущий человек в окошко не выглядывает».
                    p Уж кто-кто, а «Чернотроп» протестовать против реализма в литературе не будет. Но справедливости ради стоит отметить, что взаимоотношения писателя и современности несколько сложнее.
                    p Посмотрим на примере: взялся ты, допустим, за повесть о телеграм-канале. Прошло два года. От телеграм-каналов все устали, люди посообразительнее перескочили на подкасты.
                    p Каких-то два года — и актуальная повесть уже стала историей. Примерно то же самое происходит сейчас с трендами, блогерами, музыкальными группами, сериалами. Ну вот что сейчас происходит с «Пошлой Молли»? Всем наскучила, записывает клипы с экс-солистками «Серебра». А помните, Дружко когда-то собирал у школоты миллионы просмотров? Маликов песенки пел. И так далее.
                    p Когда старшие товарищи призывают нас писать о современности, стоит призадуматься.
                    p.article__content-main-thought В разгоняющихся двадцатых лучше писать о вечном в антураже современности. И вечное, и антураж не устаревают.
                    p Главный тому пример, ориентир и хэдлайнер — роман Льва Толстого «Анна Каренина». Больше ста сорока лет прошло, а интерес к нему не спадает. Если обмолвишься в литературной компании, что читаешь «Анну Каренину», люди тут же зададут кучу вопросов или, что ещё лучше, поспорят между собой.
                    p Единого мнения о романе не существовало и при жизни Толстого, тон и ход рецензии зависели от политической направленности журнала или газеты, которые эту рецензию издавали.
                    p Либералы и народники критиковали воспевание помещичьего уклада,  консерваторы обличали гнилые нравы высшего света. Нейтральные читатели,  вскормленные французскими любовными романами, зачастую игнорировали  линию Левина и замечали только треугольник Анны, Вронского и Каренина,  значительно упрощая замысел и драматургию (на что ещё при жизни писателя жаловался литературный критик Николай Страхов):
                    blockquote «Так я уже читал вчера, что Каренина решается на самоубийство, 
                        i убедившись, что Вронский любит другую
                        |. Вы видите, они иначе не могут понять, да и то, вероятно, по преданию,  по французским романам, а не по чувству своего собственного сердца».
                    p Оттого интереснее узнать, как воспринимают роман сегодня. И споры в этом помогают.
                    p На первый план ожидаемо вышла феминистическая повестка. Как и социалисты того времени, Толстого критикуют за воспевание патриархата,  скептическое отношение к женскому вопросу и кондовый морализм.
                    p Но собрать единодушное «FFUUU» из калейдоскопа мнений не получается. Мы  живём в эпоху раннего индивидуализма, мнения об «Анне Карениной» вполне  могут отличаться даже внутри одной общности.
                    p Для нескольких читателей
                        =" "
                        a(href="http://ttttt.me/blacktrope")
                            span нашего канала
                        =" "
                        |Анна так и не стала отрицательным персонажем. Она, как и Каренин — заложница общества и религиозных норм XIX-го века, где развод становится непреодолимым препятствием.
                    p В 2019-м году ситуация не стоит и выеденного яйца: Анна подаёт на  развод, судья оставляет сына с мамой, богатый и влиятельный Каренин находит себе инстаграм-модель и уезжает с ней отдыхать в Дубай. Всё.
                    p Ещё и материнский капитал получат.
                    p Современная интерпретация романа, написанная феминисткой, исключала бы из формулы великодушие Каренина. Муж-тиран, путинист и чинуша, не  отдавал бы ребёнка Анне, запрещал ей видеться с сыном и вставлял палки в колёса Вронскому — оунеру русско-американского стартапа и умеренному  стороннику Навального.
                    p Но вторую «Анну Каренину» не напишешь, так что нам остаётся лишь  наблюдать, как доживающие свой век религиозные условности, светское  лицемерие и стадное чувство гонят Анну под поезд.
                    p За бурей обсуждений и фантазий кроется ещё одна примета времени.  Спорщики чаще всего не трогают Левина и его экзистенциальный кризис.  Дауншифтинг лет пять как умер, а за экзистенциальный кризис  консервативного бизнесмена у нас отвечает Андрей Рубанов.
                    p Может быть, когда-нибудь, лет через тридцать, чаша весов склонится в  другую сторону и люди начнут спорить о поступках и метаниях Левина, а  Каренины отойдут на второй план. Пока же современные читатели не считают эту линию острой.
                    p Эмансипация женщин куда острее.
                    +articleAuthor('Артём Сошников', 'http://soshnikov-writing.art/')
                div.article__content-right
                    figure
                        img(src="../../img/how-dare-karenina-film.jpg")
                        figcaption Кадр из фильма «Анна Каренина», 1914.
            
