include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'Русская молодёжь одержима путешествиями? ⚒ Чернотроп',
      'Description',
      'http://chernotrop.reviews/img/default.jpg',
      ''
    )
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline Русская молодёжь одержима путешествиями?
            p.article__description Рассказываем на примере прозы Михаила Полевого, почему вам порой тошно заглядывать в Инстаграм.
        div.article__content
            div.article__content-row
                div.article__content-left
                    p Я захожу в Инстаграм и тут же его закрываю. Наступила пора отпусков и мои друзья выкладывают фото. Вот одноклассница стоит на фоне Эйфелевой башни. Вот однокурсник уехал зимовать на Бали. Вот коллега подкармливает попугаев в парке Барселоны.
                    p Десять лет назад счастливчики, побывавшие заграницей, приносили нам CD-диски с фотографиями. Двести семьдесят несортированных кадров. Мы садились перед компьютером всем семейством и смотрели каждую. Это мы в горах. А это наш номер в отеле (Андрей забрал на память оттуда полотенце). А вот так у них выкидывают мусор.
                    p Теперь мне достаточно трёх минут. Я захожу в Инстаграм закатываю глаза. Ну, давайте. На каком фоне в этот раз?
                    p Будапешт.
                        br
                        | Берлин.
                        br
                        | Тбилиси.
                    p За последние годы у меня выработалась не только баннерная, но и пейзажная слепота.
                div.article__content-right
                    figure
                        img(src="../../img/section-pogodin.png")
                        figcaption Михаил Полевой закатывает глаза
            div.article__content-row
                div.article__content-left
                    p Мне хочется громко заявить: «Русская молодёжь одержима путешествиями!», но я понимаю, что меня тут же макнут лицом в статистику. Тогда я лезу за цифрами — и вижу, что они неоднозначны.
                    div.article__content-secondary-info
                        p
                            | Действующий иностранный паспорт есть у четверти граждан страны и около 56% жителей столицы —
                            =" "
                            a(href="https://www.levada.ru/2018/06/13/poezdki-za-granitsu-3/")
                                span Левада
                        p
                            | Большинство россиян (56%) совершили хотя бы одну поездку по России за последний год —
                            =" "
                            a(href="https://ria.ru/20181213/1547894266.html")
                                span Островок.ру
                    p Не очень-то похоже на помешательство! Но я не сдаюсь, изворачиваюсь. Допустим, я говорю в основном о столичной и петербургской молодёжи. Да и то не о всей. О креаклах. Миллениалах! А если и не путешествуют, то хотели бы. Зачем им деньги? Чтобы путешествовать.
                    p Личный опыт торчит занозой в простыне фактов. На Ютубе популярны трэвел-блогеры, у «Орла и решки» миллионы подписчиков в соц.сетях, порноактрисы одним из плюсов профессии
                        =" "
                        a(href="https://youtu.be/g9UQ-qdyy_4?t=5255")
                            span называют
                        =" "
                        | возможность путешествовать. А ещё в моём окружении постоянно говорят о поездках, планируют их, мечтают. И это не бизнесмены, не олигархи, не новые дворяне при погонах. Моё окружение — провинциалы, выходцы из народа. Бармены, маркетологи, айтишники, звукорежиссёры, стюардессы.
                    p Россия — страна контрастов, а в стране контрастов легко подмечать тенденции. Достаточно взглянуть на три исторических вехи существования нашей цивилизации. Российскую империю, Советский Союз, Российскую Федерацию.
                    p В Российской империи простолюдины путешествовали редко. Пока вронские с карениными переживали драмы в палаццо, крестьяне батрачили, выживали и нередко пухли с голоду.
                    p Но лазейки всё же существовали. Один из примеров нашёлся у прозаика девятнадцатого века Михаила Полевого.
                    p В 1834-м году Полевой (сын купца, отказавшийся от семейного бизнеса ради литературы) издал «
                        a(href="http://az.lib.ru/p/polewoj_n_a/text_0140.shtml")
                            span Рассказы русского солдата
                        | » — трагическую повесть о жизни крестьянина Сидора.
            div.article__content-row
                div.article__content-left
                    div.article__content-secondary-info
                        h5 Осторожно, спойлеры! Банальный сюжет одним абзацем
                        p.article__content-secondary-text Сидор влюбляется в местную красавицу Дуняшу. Она отвечает ему взаимностью. Отец не одобряет их союз — Дуняшу уже сосватали за сына старосты. Молодые сбегают, долго мирятся с лишениями. Отец прощает дочь. Оспа убивает Дуняшу и младенца. Староста мстит и подтасовывает жребий рекрутского набора. Отчаявшийся Сидор соглашается пойти на службу вместо брата.
            div.article__content-row
                div.article__content-left
                    p За двадцать лет службы Сидор побывал в Италии, Австрии, Прибалтике и Швеции. Комиссовавшись, он долго искал себе новый дом и остановился в Малороссии, где стал для деревенской общины кем-то вроде трэвел-блогера — рассказывал жителям байки о военных походах, традициях и нравах чужестранцев.
                    blockquote Но итальянская земля, ваше благородие, еще мудренее: у них вместо нашей березы и сосны — лимоны да померанцы; и зимы нет — такая земля, что не благословил ее бог снегом, и прокатиться на санях некогда и негде — и все такая теплынь, что потеешь, потеешь, бывало, да и тьфу ты, пропасть какая! Девци у них хороши, только все басурманки, поклоняются римскому папе и против русских дородностью не будут
                    p Правда, есть один нюанс: вместо пауэрбэнка и смартфона рекрут-путешественник носил при себе саблю, ружьё и пригласительный от Смерти. Да и сами походы мало походили на копеечные перелёты авиакомпанией Ryanair.
                    p Спустя восемьдесят лет после публикации «Рассказов…» революция перевернула страну с ног на голову — но несправедливость перевернулась вместе с ней. Большевики даровали народу закрепы к колхозам и железный занавес, через который простолюдины просачивались разве что на курорты в Болгарию.
                    p Ощущая себя Марией Степановой, я достаю из комода семейный фотоальбом. Мой дед в семидесятых побывал в Африке, Мексике, Франции, ГДР, на Кубе и ещё двадцати с лишним странах. Как? Он служил штурманом на грузовом «Антее». За сто лет лазейка так и не заросла. Иных наши предки не протоптали.
                    p.article__content-main-thought И вот,  после развала Советского Союза потомки рабочих и крестьян впервые в русской истории могут беспрепятственно путешествовать, не завоёвывая.
                    p Мы чуть ли не первые выходцы из народа, кто ходит по чужим странам и делает селфи, а не залпы.
                    p А Михаил Полевой практически забыт русской литературой. Немного несправедливо — учитывая, что через прозу Полевого до сих пор прорастает современность.
                    p Так что не поленитесь, прочтите
                        =" "
                        a(href="http://az.lib.ru/p/polewoj_n_a/text_0140.shtml") «Рассказы русского солдата»
                        |. Возьмите их в самолёт.
                    p Время в пути составит два часа двадцать минут. Желаю вам не оставаться с застёгнутыми ремнями в пределах своего Отечества.
                    +articleAuthor('Артём Сошников', 'http://soshnikov-writing.art/')
