include ../../components/head/head
include ../../components/header/header
include ../../components/main-menu/main-menu
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
    'Манифест ⚒ Чернотроп︎',
    'Скрещиваем русскую реалистическую прозу с современностью',
    'http://chernotrop.reviews/img/default.jpg',
    ''
    )
body.body_dark
    +header('dark')
    section.main
        div.main__description
            h1 Манифест
            p Проза нашего поколения будет реалистической — потому что современная эпоха беспрерывно отворачивает нас от реальности.
            p Государство строит картонную империю в телевизоре (правда, мы не смотрим телевидение). Ежедневно нас преследуют и другие имитации. Инстаграм транслирует вылизанную картину реальности — будто нейросеть ежедневно плодит сотни Барби и Кенов; Твиттер низводит жизнь до иронической усмешки; сознание нашего поколения штурмуют паблики по саморазвитию, фитнес-истерия, параноидальные смеси экологии с изотерикой.
            p Все они заявляют: мир прекрасен, он с трепетом принимает любые инициативы и щедро за них вознаграждает, за кирпичной стеной простирается рай. Ты (и только
                =" "
                i ты
                |) виновен в том, что до сих пор в этот рай не вступил.
            p Не вступил, потому что ты: ленивый, толстый, глупый, нерешительный, …
            p Все эти фантомы, все эти миражи призван разбить современный реализм.
            p Мы — нормальные, нас много.
            p Мы способны изменить мир к лучшему, но мы не сделаем этого без уничтожения озвученных миражей.
            p ⚒
        +mainMenu('manifest')
