include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year
doctype html
html(prefix="og: http://ogp.me/ns#")
    +head(
      'http://chernotrop.reviews/salnikov-petrovs',
      'article',
      'О «Петровых в гриппе» Алексея Сальникова',
      'Редкий пример того, как поэтический опыт автора благотворно сказывается на его прозе.',
      'http://chernotrop.reviews/img/salnikov-petrovs-og.jpg'
    )
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline О «Петровых в гриппе» Алексея Сальникова
            p.article__description Редкий пример того, как поэтический опыт автора благотворно сказывается на его прозе.
        div.article__content
            div.article__content-row
                div.article__content-left
                    p «Петровы в гриппе…» — редкий пример того, как поэтический опыт автора благотворно сказывается на его прозе. Сальников смотрит на привычные нам вещи с абсолютно иного ракурса и подмечает детали, которые мы неоднократно прокручивали в голове, но никогда не озвучивали вслух.
                    p Как и любой роман эпохи постмоденизма, «Петровы в гриппе…» написан в иронической манере, но в тексте нет ни грамма сарказма. Сальников не желает посеять в читателе споры язвительности, юмор нужен ему в качестве строительного материала для характеристик героев и для более точного описания действительности.
                    p Вообще, Петровы дико странные, но от этого притягательные люди. Петров никак не может понять, что происходит с его жизнью и считает себя из-за этого туповатым, Петрова ничего особо не чувствует даже к собственному сыну, а Петров-младший к обоюдному ужасу родителей с каждым годом всё больше становится похожим на них самих.
                div.article__content-right
                    figure
                        img(src="../../img/salnikov-petrovs-cover.jpg")
                        figcaption Алексей Сальников «Петровы в гриппе и вокруг него». Издательство «АСТ», 2017. 370 с.
            div.article__content-row
                div.article__content-left
                    p При этом Петровых окружают до слёз реальные люди. Иногда кажется, что видел их вчера на улице или встречал в магазине: продавщицы, менты, мамочки с детьми, учителя и врачи запечатлены фотографически, но (повторюсь) их действия Сальников описывает с оригинально деконструированного ракурса.

                    p По ходу повествования бытовой иронический сюжет начинает сбоить, проваливаясь в мистический триллер так же, как мальчик Уилл из «Очень странных дел-2» проваливается в параллельное измерение. Сальников чутко добавляет роману новый вектор именно тогда, когда основная канва немного надоедает и это ещё больше подчёркивает талант автора.
                    p Впервые за долгие годы читаешь о провинции, не испытывая отвращения (любовь к Уралу ощущается на каждой странице) и невольно вспоминаешь свой город с такими же промзонами, дымящими трубами и несерьёзными, в общем-то, пробками на улицах.
                    p Хочется даже взять билет на поезд и махнуть под Новый год на малую родину, но, увы, у Сальникова хоть и реалистичная, но всё же сказка и попасть в неё наяву, сменив декорации, невозможно. Зато вполне реально погрузиться в этот сказочно-странный мир на время — роман выложен на Букмейте в свободный доступ.
                    +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2017')
