include ../../components/logo/logo
mixin header(theme, modeValue="inactive")
    include ../icon/icon
    header.header(class=`header_${theme}`)
        div.header__logo
            +logo(theme)
        div.header__menu#modeValue
            if modeValue === 'active'
                a(href="javascript:history.back()")
                    +iconClose('24px').icon_white
            else
                a(href="menu.html")
                    +iconMenu('24px').icon_white
