include ../../components/logo/logo
include ../menu/menu
mixin header(theme, page, modeValue="inactive")
    include ../icon/icon
    header.header(class=`header_${theme}`)
        div.header__logo
            +logo(theme)
        nav.header__menu
            +mainMenu(page)
        div.header__menu_mobile#modeValue
            if modeValue === 'active'
                a(href="javascript:history.back()")
                    +iconClose('24px').icon_white
            else
                a(href="menu.html")
                    +iconMenu('24px').icon_white
