include ../../components/section-header/section-header
include ../../components/article-separator/article-separator
include ../../components/article50/article50
include ../../components/article15/article15

mixin articles2019()
    div.articles-2019
        div.articles-2019__row-sb
            +article50('salnikov-oposredovanno', 'Вылизан, но', 'О том, как желание угодить читателю испортило новый роман Алексея Сальникова')
            +article50('how-dare-karenina', 'Да как ты смеешь?! «Анна Каренина»', 'Время идёт, роман по-прежнему не оставляет читателей равнодушными. Про Левина потихоньку забывают')
