mixin campingArticle(id, title, desc)
    a(href=`${id}.html`).camping__col
        div.camping__pic
            img(src=`../../img/${id}-cover.jpg`)
        div.camping__content
            h3=title
            p=desc
