mixin campingArticle(id, title, desc)
    a(href=`${id}.html`).camping__article
        div.camping__pic
            img(src=`../../img/${id}-preview.jpg`)
        div.camping__content
            div.camping__content-headline
                h3=title
            div.camping__content-desc
                p=desc
