.article {
  @include col100(0, column);
  
  a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: $deepRed;
    
    span {
      color: $black;
    }
  }

  img {
    width: 100%;
    margin: 0;
  }

  .figcaption {
    margin: -24px 0 32px 0;
    font-size: $fontSizeS;

    @include respond(mobile) {
      margin: -24px 0 24px 0;
    }
  }
  
  &__header {
    @include col100(96px 72px, column);
    background-color: $darkGray;
    
    @include respond(mobile) {
      @include col100(32px 32px 64px 32px, column);
    }
  }
  
  &__headline {
    margin: 64px 0 24px 0;
    padding: 0;
    color: $coldBlue;
    font-size: $fontSizeXXL;
    font-family: $accentFont;
    text-transform: uppercase;
    line-height: 1.5;
    max-width: 780px;
    
    @include respond(mobile) {
      font-size: $fontSizeL;
      line-height: 1.7;
    }
  }
  
  &__description {
    @include col45(0);
    margin: 0;
    color: $lightGray;
    font-family: $basicFont;
    font-size: $fontSizeL;
    line-height: 1.5;
    
    @include respond(mobile) {
      @include col100(0);
      font-size: $fontSizeM;
    }
  }
  
  &__content {
    @include col100(48px 72px, column);
    background-color: $lightGray;
    
    @include respond(mobile) {
      @include col100(24px 32px, column);
    }
    
    &-row {
      @include col100(0, row, space-between);
      
      @include respond(mobile) {
        @include col100(0, column);
      }
    }
    
    &-left {
      @include col60(0, column);
      font-family: $basicFont;
      font-size: $fontSizeL;
      line-height: 1.65;
      max-width: 780px;
      
      @include respond(mobile) {
        @include col100(0, column);
        font-size: $fontSizeM;
        line-height: 1.6;
      }
      
      blockquote {
        margin: 0 0 32px 0;
        font-size: $fontSizeL;
        
        @include respond(mobile) {
          margin: 8px 0 32px 0;
          font-size: $fontSizeM;
        }
      }
      
      figure {
        margin: 0 0 32px 0;
        
        img {
          width: 100%;
        }
        
        figcaption {
          font-size: $fontSizeM;
          margin: 8px 0 0 0;
          
          @include respond(mobile) {
            font-size: $fontSizeS;
          }
        }
      }
    }
    
    &-right {
      @include col40(18px 5% 0 15%, column);
      font-family: $basicFont;
      font-size: $fontSizeM;
      line-height: 1.5;
      
      @include respond(mobile) {
        @include col100(16px 0 32px 0, column);
      }
      
      figure {
        max-width: 300px;
        width: auto;
        margin: 0;
        
        @include respond(mobile) {
          width: auto;
          margin: 0;
        }
        
        img {
          width: 100%;
          height: auto;
        }
        
        figcaption {
          font-size: $fontSizeM;
          margin: 8px 0 0 0;
          
          @include respond(mobile) {
            font-size: $fontSizeS;
          }
        }
      }
      
      blockquote {
        margin: 0;
      }
    }
    
    &-secondary-info {
      font-size: $fontSizeL;
      margin: 0 0 32px 0;
      padding: 0 32px 0 16px;
      border-left: 4px solid $coldBlue;
      
      @include respond(mobile) {
        margin: 8px 0 32px 0;
        font-size: $fontSizeM;
      }
      
      p {
        margin: 8px 0 8px 0;
      }
    }
    
    &-main-thought {
      font-family: $accentFont;
      text-transform: uppercase;
      letter-spacing: 0.5;
      line-height: 2;
      margin: 32px 48px 48px 48px;
      
      @include respond(mobile) {
        margin: 12px 0 32px 0;
      }
    }
  }
}

.secondary-info {
  font-size: $fontSizeL;
  margin: 0 0 32px 0;
  padding: 0 32px 0 16px;
  border-left: 4px solid $coldBlue;

  @include respond(mobile) {
    margin: 8px 0 32px 0;
    font-size: $fontSizeM;
  }

  p {
    margin: 8px 0 8px 0;
  }
}
