.article {
  @include col100(0, column);
  
  a {
    color: $deepRed;
    text-decoration: underline;
    
    span {
      color: $black;
    }
  }
  
  &__header {
    @include col100(96px 72px, column);
    background-color: $darkGray;
    
    @include respond(mobile) {
      @include col100(32px 32px, column);
    }
  }
  
  &__headline {
    margin: 64px 0 24px 0;
    padding: 0;
    color: $coldBlue;
    font-size: $fontSizeBig;
    font-family: $accentFont;
    text-transform: uppercase;
    line-height: 1.5;
    
    @include respond(mobile) {
      font-size: $fontSizeMain;
      line-height: 2;
    }
  }
  
  &__description {
    @include col50(0);
    margin: 0;
    color: $lightGray;
    font-family: 'PT Root UI', sans-serif;
    font-size: $fontSizeMedium;
    line-height: 1.5;
    
    @include respond(mobile) {
      @include col100(0);
      font-size: $fontSizeMain;
    }
  }
  
  &__content {
    @include col100(48px 72px, column);
    background-color: $lightGray;
    
    @include respond(mobile) {
      @include col100(24px 32px, column);
    }
    
    &-row {
      @include col100(0);
      
      @include respond(mobile) {
        @include col100(0, column);
      }
    }
    
    &-left {
      @include col60(0, column);
      font-family: $basicFont;
      font-size: $fontSizeMedium;
      line-height: 1.65;
      
      @include respond(mobile) {
        @include col100(0, column);
        font-size: $fontSizeMain;
        line-height: 1.6;
      }
      
      blockquote {
        font-size: $fontSizeMain;
        line-height: 1.65;
        margin: 0 0 32px 0;
        padding: 0 32px 0 16px;
        border-left: 4px solid $deepRed;
        
        p {
          margin: 8px 0 8px 0;
        }
        
        @include respond(mobile) {
          padding: 0 16px 0 16px;
        }
      }
    }
    
    &-right {
      @include col40(18px 5% 0 15%, column);
      font-family: $basicFont;
      font-size: $fontSizeMain;
      line-height: 1.5;
      
      @include respond(mobile) {
        @include col100(16px 0 32px 0, column);
      }
      
      figure {
        width: auto;
        margin: 0;
        
        @include respond(mobile) {
          width: auto;
          margin: 0;
        }
        
        img {
          width: 100%;
          height: auto;
        }
        
        figcaption {
          font-size: $fontSizeMain;
          margin: 8px 0 0 0;
          
          @include respond(mobile) {
            font-size: $fontSizeSmall;
          }
        }
      }
    }
    
    &-secondary-info {
      font-size: $fontSizeMain;
      line-height: 1.65;
      margin: 0 0 32px 0;
      padding: 0 32px 0 16px;
      border-left: 4px solid $coldBlue;
      
      p {
        margin: 8px 0 8px 0;
      }
    }
    
    &-main-thought {
      font-family: $accentFont;
      text-transform: uppercase;
      line-height: 2;
      margin: 32px 48px 48px 48px;
      
      @include respond(mobile) {
        margin: 12px 0 32px 0;
      }
    }
    
    &-author {
      font-size: $fontSizeMain;
      margin-top: 32px;
    }
  }
}
