$white: hsla(0, 0%, 90%, 1.00);
$black: hsla(0, 0%, 0%, 1.00);
<<<<<<< HEAD
=======
$darkGray: hsla(0, 0%, 10%, 1.00);
$codGray: hsla(0, 0%, 20%, 1.00);
$gray: hsla(0, 0%, 50%, 1.00);
>>>>>>> origin/master

$darkGray: hsla(0, 0%, 10%, 1.00);
$coldBlue: hsl(220, 100%, 70%);
$deepRed: hsl(0, 100%, 40%);
$lightGray: hsl(0, 0%, 90%);
$gray: hsl(0, 0%, 30%);
