@import "grid";
@import "colors";
@import "typo";

$mainContentMargin: 64px;
$mainContentMarginMobile: 32px;

body {
  margin: 0;
  line-height: 1.5;
}

.body_dark {
  background-color: $darkGray;
}

.body_light {
  background-color: $white;
}

.wrap {
  @include col100(72px 0 0 0, column);
}

.content {
  @include col100($mainContentMargin 72px, column);
  
  @include respond(mobile) {
    @include col100(8px 24px, column)
  }
  
  &_menu {
    @include col100(0, column, center);
    height: 100vh;
    align-self: center;
  }
  
  &__text {
    @include col50(0, column);
    color: $white;
    font-size: $fontSizeL;
    
    @include respond(mobile) {
      @include col100(0, column);
      font-size: $fontSizeM;
    }
    
    &-section {
      @include col100(0 0 48px 0, column);
      
      @include respond(mobile) {
        @include col100(0 0 24px 0, column);
        font-size: $fontSizeM;
      }
    }
  }
}
