include ../../components/head/head
include ../../components/header/header
include ../../components/menu/menu
include ../../components/pagination/pagination
include ../../sections/articles-2018/articles-2018

- var title = 'Чернотроп ⚒︎ Статьи за 2018-й год'
- var desc = 'Скрещиваем русскую реалистическую прозу с современностью'
- var id = 'default'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_dark
    +header('dark', 'article')
    div.wrap
        div.content
            +pagination('2018')
            +articles2018()
