include ../../components/head/head
include ../../components/header/header
include ../../components/menu/menu

- var title = 'Чернотроп ⚒︎ Русский реализм'
- var desc = 'Скрещиваем русскую реалистическую прозу с современностью'
- var id = 'default'

doctype html(prefix="og: http://ogp.me/ns#")
html
+head(`${id}`,`${title}`, `${desc}`)
body.body_dark
    +header('dark', '', 'active')
    section.content_menu
        +menu('')
