include ../../components/head/head
include ../../components/header/header
include ../../components/main-menu/main-menu
include ../../sections/selfie-against-sword/selfie-against-sword
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'Чернотроп ⚒︎ Русский реализм',
      'Скрещиваем русскую реалистическую прозу с современностью',
      'http://sayocean.me/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark', 'active')
    section.main
        div.main__menu_mobile
            a.main__menu-item(href="how-dare.html", target="blank") да как ты смеешь!
            a.main__menu-item(href="http://ttttt.me/blacktrope")(target="blank") telegram-канал
            a.main__menu-item(href="contacts.html") контакты
