include ../../components/head/head
include ../../components/header/header
include ../../components/menu/menu
include ../../sections/selfie-against-sword/selfie-against-sword
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'Чернотроп ⚒︎ Русский реализм',
      'Скрещиваем русскую реалистическую прозу с современностью',
      'http://sayocean.me/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark', '', 'active')
    section.main
        +menu('')
